.image_modal{
    border-radius:100%;;
    display:flex;
    justify-content: center;
    align-items: center;
    width: 110px;
    height: 110px;
    background-color:#7DDF64 !important;
}
.icon_size{
  width: 2.5em !important;
  height: 2.5em !important;
}
.input_size{
   width: 100%;
}